@model IEnumerable<ASPNET5MVC6_Examples.Models.Trip>
<div class="row">

    <div class="col-md-6">
        <h1>Hola Peru</h1>
        <p>Mensaje de prueba</p>

        <form>
            <div class="form-group">
                <label>Fecha</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Ubicacion</label>
                <input class="form-control"/>
            </div>
            <div><input type="submit" value="Enviar" class="btn btn-primary"/></div>
        </form>
    </div>
    <div class="col-md-6">
        <h2> Viajes</h2>
        <ul>
            @foreach (var trip in Model)
            {
                <li>@trip.Name (@trip.Created.ToShortDateString())</li>
            }
        </ul>
    </div>

</div>