
<h1>Hola Peru</h1>
<p>Mensaje de prueba</p>

<form>
    <div>
        <label>Fecha</label>
        <input />
    </div>
    <div>
        <label>Ubicacion</label>
        <input />
    </div>
    <div><input type="submit" value="Enviar" /></div>
</form>

      